/*
//	Chatbox - Coding challenge by DreamGamer
//	Project start: 07.02.2018	
//	File: style.css
//
//	Coded by: Maurice Bertram
*/


body {
	background-color: #1b1b1b;
	margin: 0;
	padding: 0;
	color: #000;
	font-family: 'Lato', sans-serif;
	height: 100%;
	width: 100%;
}

.main-container {
	position: absolute;
	width: 50vw;
	height: 80vh;
	border: 3px #666 solid;
	border-radius: 8px;
	background-color: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	padding: 8px;
	overflow: hidden;
}

.conversation-container {
	width: 100%;
	height: 80%;
	border: 1px #a9a9a9 solid;
	border-radius: 3px;
	padding: 6px;
	overflow-y: auto;
}

.chatbox-container {
	width: 100%;
	height: 15%;
}

.chat {
	width: 100%;
	height: 60%;
	resize: none;
	overflow: hidden;
	border-color: #a9a9a9;
}

.spacer {
	width: 100%;
	height: 5%;
}

.submitBTN {
	margin-top: 5px;
	width: 20%;
}

.conversation-container p {
	margin-top: 0px;
	margin-bottom: 1px;
}

.conversation-container p:nth-child(odd) {
	background-color: #DFDFDF;
}

.resultSpacer {
	width: 100%;
	background-color: #fff;
	font-size: 22px;
	font-weight: bold;
	padding-top: 4px;
	padding-bottom: 4px;
}

.resultSpacer p {
	background-color: #fff !important;
}

@media (max-width: 768px) {
	.main-container {
		width: 80vw;
		font-size: 20px;
	}

	.resultSpacer {
		font-size: 24px;
	}
}